
tkinter style theme: awthemes-9.5.0     zlib-license
PyInstaller                             special exception allows to use PyInstaller to build and distribute non-free programs (including commercial ones)
os                                      standard library module: no license restriction
tkinter as tk                           standard library module: no license restriction
tkinter.ttk                             standard library module: no license restriction
tkinter filedialog                      standard library module: no license restriction
#from tkinter import messagebox         standard library module: no license restriction
#from pathlib import Path               standard library module: no license restriction
re                                      standard library module: no license restriction
struct                                  standard library module: no license restriction
view                                    standard library module: no license restriction
readudt                                 standard library module: no license restriction
readplc                                 standard library module: no license restriction
tcpserver                               standard library module: no license restriction
json                                    standard library module: no license restriction
time                                    standard library module: no license restriction
queue                                   standard library module: no license restriction
socket                                  standard library module: no license restriction
queue                                   standard library module: no license restriction
threading                               standard library module: no license restriction
time                                    standard library module: no license restriction